@{
ViewData["Title"] = "Admin Dashboard";
}

<h1>Admin Dashboard</h1>

<h4>Menu</h4>

<div>
   <a asp-action="ManageUsers" asp-controller="Auctions" class="btn btn-primary">
       See all users</a>
</div>


